@import 'bootstrap/dist/css/bootstrap.min.css';

/* #region Navbar.jsx */
.navbar {
  background-color: #f8f9fa;
}

[data-bs-theme=dark] .navbar {
  background-color: #2b3035;
}

.navbar-toggler,
.darkmode-toggler {
  border: none;
  box-shadow: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.darkmode-toggler:focus,
.darkmode-toggler:active {
  outline: none;
  box-shadow: none !important;
}

/* #endregion */

/* #region Footer.jsx */
.footer {
  background-color: #f8f9fa;
}

[data-bs-theme=dark] .footer {
  background-color: #2b3035;
}

/* #endregion */

/* #region page float in animation */
@keyframes pageFloatIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-content {
  animation: pageFloatIn 1s ease-out;
  flex: 1;
}

/* #endregion */

/* #region About.jsx */
.regular-text {
  font-size: 1rem;
  font-weight: 300;
}

.text-justify {
  text-align: justify;
}

.footer-text {
  font-size: .75rem;
}

@media (min-width: 992px) {
  .regular-text {
    font-size: 1.25rem;
  }

  .footer-text {
    font-size: 1rem;
  }
}

.hobby-badge {
  color: #212529;
  background-color: #dfe0e1;
}

/* #endregion */

/* #region Experience.jsx */
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: .5rem;
  width: .05rem;
  height: 100%;
  background-color: #212529;
}

[data-bs-theme=dark] .timeline::before {
  background-color: #F8F9FA;
}

.timeline-item {
  position: relative;
  padding-left: 1.5rem;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: .2rem;
  background-color: #212529;
  border-radius: 50%;
  height: .4rem;
  width: .4rem;
  top: .65rem;
}

[data-bs-theme=dark] .timeline-item::before {
  background-color: #F8F9FA;
}

.timeline-img {
  max-width: 3.125rem;
  max-height: 3.125rem;
}


@media (min-width: 768px) {
  .project-card-text-section {
    min-height: 15rem;
  }

  .project-card-skill-section {
    min-height: 5.25em;
  }
}

/* #endregion */

/* #region Contact.jsx */
.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: #dfe0e1;
}

[data-bs-theme=dark] .accordion-button:not(.collapsed) {
  color: inherit;
  background-color: #444a57;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

/* #endregion */

/* #region common components */
.divider {
  border-color: #212529 !important;
}

[data-bs-theme=dark] .divider {
  border-color: #F8F9FA !important;
}

.skill-badge {
  background-color: #212529;
  color: #FFFFFF;
}

[data-bs-theme=dark] .skill-badge {
  background-color: #444a57;
}

.btn-contact {
  background-color: #212529;
  color: #FFFFFF;
  border-color: #212529;
}

[data-bs-theme=dark] .btn-contact {
  background-color: #F8F9FA;
  color: #000000;
  border: #F8F9FA;
}

[data-bs-theme=dark] .btn-contact:hover {
  background-color: #212529;
  color: #FFFFFF;
  border: #212529;
}

/* #endregion */