/* #region Navbar.jsx */
.navbar-toggler {
    border: none;
    box-shadow: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none !important;
}
/* #endregion */

/* #region About.jsx */
.regular-text {
    font-size: .9rem;
    font-weight: 300;
}

.footer-text {
    font-size: .75rem;
}

@media (min-width: 768px) {
    .regular-text {
        font-size: 1.25rem;
    }

    .footer-text {
        font-size: 1rem;
    }
}
/* #endregion */