/* #region Navbar.jsx */
.navbar-toggler {
    border: none;
    box-shadow: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none !important;
}

/* #endregion */

/* #region About.jsx */
.regular-text {
    font-size: 1rem;
    font-weight: 300;
}

.text-justify {
    text-align: justify;
}

.footer-text {
    font-size: .75rem;
}

@media (min-width: 992px) {
    .regular-text {
        font-size: 1.25rem;
    }

    .footer-text {
        font-size: 1rem;
    }
}

.hobby-badge {
    color: #212529;
    background-color: #dfe0e1;
}

/* #endregion */

/* #region Experience.jsx */
.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: .5rem;
    width: .05rem;
    height: 100%;
    background-color: #212529;
}

.timeline-item {
    position: relative;
    padding-left: 1.5rem;
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: .2rem;
    background-color: #212529;
    border-radius: 50%;
    height: .4rem;
    width: .4rem;
    top: .65rem;
}

.timeline-img {
    max-height: 50px;
}


@media (min-width: 768px) {
    .project-card-text-section {
        min-height: 15rem;
    }

    .project-card-skill-section {
        min-height: 5.25em;
    }
}

/* #endregion */

/* #region Contact.jsx */
.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: #dfe0e1;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

/* #endregion */